
NEXT_PUBLIC_NEWT_SPACE_UID=スペースUID
NEXT_PUBLIC_NEWT_APP_UID=AppUID
NEXT_PUBLIC_NEWT_MODEL_UID=モデルUID
NEXT_PUBLIC_NEWT_CDN_TOKEN=Newt CDN APIトークン
NEXT_PUBLIC_ALGOLIA_APPLICATION_ID=Algolia Application ID
NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_API_KEY=Algolia Search-Only API Key
NEXT_PUBLIC_ALGOLIA_PRIMARY_INDEX=generator_relevance
NEXT_PUBLIC_ALGOLIA_REPLICA_INDEX_STAR=generator_star
NEXT_PUBLIC_ALGOLIA_REPLICA_INDEX_TITLE=generator_title
ALGOLIA_ADMIN_API_KEY=Algolia Admin API Key
ALGOLIA_SECRET_TOKEN=hogehoge